<br>
<div>
<table align="center">
    <tr>
        <td>
            <input type="range" style="width: 150px" value="0"/>
        </td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td>
            <input type="range" style="width: 150px" value="0"/>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <input type="range" style="width: 150px" value="0"/>
        </td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td>
            <input type="range" style="width: 150px" value="0"/>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <input type="range" style="width: 150px" value="0"/>
        </td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td>
            <input type="range" style="width: 150px" value="0"/>
        </td>
    </tr>
</table>
</div>