<div class="container">
    <div class="row">
        <app-sliders></app-sliders>
    </div>
    <br>
    <div class="row text-center">
        <table align="center">
            <tr>
                <td>
                    <button href="">
                        <i class="fa fa-record-vinyl"></i>
                    </button>
                </td>
                <td>
                    <button href="">
                        <i class="fa fa-stop"></i>
                    </button>
                </td>
                <td>
                    <button href="">
                        <i class="fa fa-play"></i>
                    </button>
                </td>
                <td>
                    <button href="">
                        <i class="fa fa-pause"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>