<table align="center">
<tr>
  <td class="text-center border" style="width:50%"><h3><b>+</b></h3></td>
  <td class="text-center border" style="width:50%"><h3><b>-</b></h3></td>
</tr>
<tr>
  <td colspan="2">
<div>
        <div class="piano-white piano-C3"><h4>A</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Db3"><h5>W</h5></div></div>
        <div class="piano-white piano-D3"><h4>S</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Eb3"><h5>E</h5></div></div>
        <div class="piano-white piano-E3"><h4>D</h4></div>
        <div class="piano-white piano-F3"><h4>F</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Gb3"><h5>T</h5></div></div>
        <div class="piano-white piano-G3"><h4>G</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Ab3"><h5>Y</h5></div></div>
        <div class="piano-white piano-A3"><h4>H</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Bb3"><h5>U</h5></div></div>
        <div class="piano-white piano-B3"><h4>J</h4></div>
        <div class="piano-white piano-C4"><h4>K</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Db4"><h5>O</h5></div></div>
        <div class="piano-white piano-D4"><h4>L</h4></div>
        <div class="piano-black"><div class="piano-black-raised piano-Eb4"><h5>P</h5></div></div>
        <div class="piano-white piano-E4"><h4>;</h4></div>
  </div>
  </td>
</tr>
</table>