<div class="container-fluid">
<br>
<!--<div class="row" style="height:70px">
    &nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
</div>

<br>
<div class="row" style="height:70px">
    &nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-sm-2 bg-dark border-primary"></div>
</div>-->
<table>
    <tr>
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
    </tr>
    <br>
    <tr>
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
        &nbsp;&nbsp;&nbsp;
        <td class="bg-dark" style="height:90px;width:90px;">
            <div></div>
        </td>
    </tr>
</table>
<br>
</div>