<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a href="#" class="navbar-brand">
          <img src="/assets/images/Raagas&Harmonics.png" height="50" alt="R&H_Logo">
      </a>
      <div class="navbar-nav">
        <h3><a href="#" class="nav-item nav-link active"><b>Raagas & Harmonics</b></a></h3>
    </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <h5><a routerLink="/" class="nav-item nav-link"> Home </a></h5>
              <h5><a routerLink="/instruments" class="nav-item nav-link"> Instruments </a></h5>
              <h5><a routerLink="/vocals" class="nav-item nav-link"> Vocals </a></h5>
              <h5><a routerLink="/studio" class="nav-item nav-link"> Studio </a></h5>
          </div>
          <div class="navbar-nav ms-auto">
              <a href="#" class="nav-item nav-link">Login / SignUp</a>
          </div>
      </div>
  </div>
</nav>


<router-outlet></router-outlet>


<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Raagas & Harmonics</a>
  </div>
  
</footer>