<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table align="center">  
            <tr>
            <td>
                <li class="list-group-item list-group-item-dark text-center">Thaat</li></td>
            <td>
                <li class="list-group-item list-group-item-dark text-center">Mode</li></td>
            </tr>
            <tr>
            <td>
                <ul *ngFor="let model of modelObj" class="list-group text-center">
                    <li class="list-group-item list-group-item-action" style="width: 300px;">{{model.Thaat}}</li>
                </ul>
            </td>
            <td>
                <ul *ngFor="let model of modelObj" class="list-group text-center">
                    <li class="list-group-item list-group-item-action" style="width: 300px;">{{model.Mode}}</li>
                </ul>
            </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>