<div class="container">
    <br>
    <div class="row bg-light border rounded">
        <div class="col-md-4 text-center">
            <br>
            <a href="#"><img src="/assets/images/guitar.png" style="border-radius:10px;" height="250px" width="300px" alt="Guitar"/></a>
            <h4>Guitar</h4>
        </div>
        <div class="col-md-4 text-center">
            <br>
            <a href="#"><img src="/assets/images/flute.png" style="border-radius:10px;" height="250px" width="300px" alt="Flute"/></a>
            <h4>Flute</h4>
        </div>
        <div class="col-md-4 text-center">
            <br>
            <a href="#"><img src="/assets/images/midi.png" style="border-radius:10px;" height="250px" width="300px" alt="Midi"/></a>
            <h4>Midi</h4>
        </div>
        <div class="col-md-4 text-center">
            <br>
            <a href="#"><img src="/assets/images/ukele.png" style="border-radius:10px;" height="250px" width="300px" alt="Ukele"/></a>
            <h4>Ukele</h4>
        </div>
    </div>
</div>
<br>

