<div class="container">
    <br>
    <div class="row bg-light border rounded">
                    <div class="col-md-4 text-center">
                        <br>
                        <a routerLink="instruments">
                            <img class="border border-start-5" src="/assets/images/instruments.png" style="border-radius: 10px;" alt="Instruments" height="250" width="300"/>
                        </a>
                        <h5>Instruments</h5>
                        <br>
                    </div>
                    <div class="col-md-4 text-center">
                        <br>
                        <a routerLink="vocals">
                            <img class="border border-start-5" src="/assets/images/vocals.png" style="border-radius: 10px;" alt="Vocals" height="250" width="300"/>
                        </a>
                        <h5>Vocals</h5>
                        <br>
                    </div>
                    <div class="col-md-4 text-center">
                        <br>
                        <a routerLink="studio">
                            <img class="border border-start-5" src="/assets/images/studio.png" style="border-radius: 10px;" alt="Studio" height="250" width="300"/>
                        </a>
                        <h5>Studio</h5>
                        <br>
                    </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row  bg-light border rounded">
    <h3 class="bg-dark text-light rounded"><u>Thaat/Mode</u>:</h3>
    <h6 class="rounded">  A Thaat is a Parent scale in North Indian or Hindustani music. It is used as a basis for classification of Raagas. Thaats are generally accepted to be heptatonic by definition. It is the western equivalent of Modes.</h6>
    <br><br>
    <hr>
    <h5><u>Rules:</u></h5>
    <h6><p>
        1. A thaat must have seven tones out of the twelve tones, Seven Natural/Shuddha notes[(Sa / C), (Re / D), (Ga / E), (Ma / F), (Pa / G), (Dha / A), (Ni / B)], Four Flat / Komal notes[(b_Re / bD), (b_Ga / bE), (b_Dha / bA), (b_Ni / bB)], One Sharp / Teevra notes(Ma_# / F#).<br>
        2. The tones must be in ascending sequence: [(Sa / C) , (Re / D) , (Ga / E) , (Ma / F) , (Pa / G) , (Dha / A) , (Ni / B)].<br>
        3. A thaat cannot contain both the natural and altered versions of a note.<br>
        4. A thaat, unlike a Raaga, does not have separate ascending and descending lines.<br>
        5. A thaat has no emotional quality (which Raagas, by definition, do have).<br>
        6. Thaats are not sung but the Raagas produced from the thaats are sung.
    </p></h6>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row  bg-light border rounded">
    <h3 class="bg-dark text-light rounded"><u>Raaga:</u></h3>
    <h6>  The Raaga is a unique and central feature of the classical Indian music tradition. Each Raaga belongs to a certain Thaat. A Raaga has a given set of notes, on a Scale. Musicians are free to emphasize or improvise certain degrees of the scale. Each Raaga create Rasa (Happy/Love/Sad/Angry/...). Raaga in Indian classic music is intimately related to Taala(Beat), with each unit called a Matra.</h6>
    <br><br>
    <hr>
    <h5><u>Rules:</u></h5>
    <h6><p>
        1. <b>Komal/Teevra Swar</b> : The Flat(b) or Sharp Note(#) used in the Raaga.<br>
        2. <b>Varjit Swar</b> : This swaras/notes will not be found in that Raaga.<br>
        3. <b>Vadi</b> : The swaras/notes which defines the Raaga and makes the Raaga unique.<br>
        4. <b>Samvadi</b> : The note which are used in line with the Vadi swaras/notes.<br>
        5. <b>Aaroha</b> : Aaroha is the successively ascending notes of a Raaga, starting on the Sa / C swara/note, and ending in the Sa* / C* swara/note in the next higher octave.<br>
        6. <b>Avroha</b> : Avroha is the successively descending notes of a Raaga, starting on the Sa* / C* swara/note in the next higher octave, and ending in the Sa / C swara/note.<br>
        7. <b>Jaati</b> : There are some following jaati in Raaga. These jaati are fixed on the number of swaras in Aaroha and Avaroha of Raaga.<br>
        &nbsp;&nbsp;&nbsp;a) <b><i>Audav-Audav</i></b> : Both the Aaroh and Avroha have 5-5 swaras/notes.<br>
        &nbsp;&nbsp;&nbsp;b) <b><i>Audav-Shadav</i></b> : There are 5 swaras/notes in the Aaroh and 6 swaras/notes in the Avroha.<br>
        &nbsp;&nbsp;&nbsp;c) <b><i>Audav-Sampurna</i></b> : 5 swaras/notes in the Aaroha and 7 swaras/notes in the Avroha.<br>
        &nbsp;&nbsp;&nbsp;d) <b><i>Shadav-Shadav</i></b> : Both the Aaroha and Avroh have 6-6 swaras/notes.<br>
        &nbsp;&nbsp;&nbsp;e) <b><i>Shadav-Audav</i></b> : 6 swaras/notes in the Aaroha and 5 swaras/notes in the Avroha.<br>
        &nbsp;&nbsp;&nbsp;f) <b><i>Shadav-Sampurna</i></b> : There are 6 swaras/notes in the Aaroha and 7 swaras/notes in the Avroha.<br>
        &nbsp;&nbsp;&nbsp;g) <b><i>Sampurna-Sampurna</i></b> : Both in the Aaroha and Avroha, there are 7-7-swaras/notes.<br>
        &nbsp;&nbsp;&nbsp;h) <b><i>Sampurna-Shadav</i></b> : 7 swaras/notes in Aaroha and 6 swaras/notes in the Avroha.<br>
        &nbsp;&nbsp;&nbsp;i) <b><i>Sampurna-Audav</i></b> : 7 swaras/notes in the Aaroha and 5 swaras/notes in the Avroha.<br>
        8. <b>Pakad</b> : The pakad contains the melodic theme of the Raaga, on listening to the pakad a person who knows the Raaga will usually be able to identify it. Pakad is formed from short convolutions of the Aaroha and Avroha, while in some cases it is quite different from them. The pakad for a particular Raaga need not be unique, its sole purpose is to clarify what Raaga it is.  
    </p></h6>
    </div>
    <br>
    <app-hometable></app-hometable>
    <br>

</div>
